.cover-page {
    height: 100vh;
    width: 100vw;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(46, 135, 58, 0.5);
    overflow: hidden; /* Ensure no content overflows the viewable area */

    &.full-screen {
        height: 0;
        width: 0;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
        text-align: center; /* Center the text horizontally */
    }


    button {
        position: absolute;
        font-size: 2rem;
        padding: 0.5rem 3rem;
        background-color: #FFFFFF;
        color: black;
        border: none;
        border-radius: 40%;
        top: 20px;
        right: 20px;
        z-index: 1;
        cursor: pointer;
        animation: glow 2s infinite alternate; /* Add animation to the button */
    }
    
    @keyframes glow {
        0% {
            box-shadow: 0 0 10px 5px orange;
        }
        50% {
            box-shadow: 0 0 20px 10px yellow;
        }
        100% {
            box-shadow: 0 0 10px 5px green;
        }
    }
    
    /* Optional hover effect to amplify the glow */
    button:hover {
        outline: none;
        box-shadow: 0 0 30px 15px rgba(255, 0, 0, 0.8), 0 0 40px 20px rgba(118, 185, 18, 0.6);
    }
    

}
